@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>@Model.Name</h3>

            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Genre.Name)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.Genre.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RealeaseDate)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.RealeaseDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AddedDate)
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.AddedDate)
                </dd>
            </dl>

        </div>
    </div>

</div>
