@using System.Web.UI.WebControls
@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.Name) 
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MemberShipTypeId)
        @Html.DropDownListFor(c => c.Customer.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.MemberShipTypeId) 
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.DateOfBirth)
        @Html.TextBoxFor(c => c.Customer.DateOfBirth, "{0: d MMM yyyy}", new { @class = "form-control", placeholder = "Ex: 12 Jan 1990" })
        @Html.ValidationMessageFor(c => c.Customer.DateOfBirth) 
    </div>   
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribeToNewsLetter) Subscribed for NewsLetter?
        </label>
    </div>
    @Html.HiddenFor(model => model.Customer.Id)
    <button type="submit" class="btn btn-primary">Create</button>

}

@section scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}